@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

/* Page - 01 */

.nav-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 49px;
    max-width: 84%;
    margin: 50px auto 50px;
}

.nav-heading h4 {
    display: inline;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-heading .img-nav {
    display: flex;
    gap: 16px;
}

.nav-options ul {
    display: flex;
    gap: 44px;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
    list-style: none;
}

.head-text-container {
    background: url("Images/header.png") center;
    /* border: 2px solid black; */
    background-repeat: no-repeat;
    text-align: center;
    background-size: 1300px;
    max-width: 84%;
    border-radius: 16px;
    margin: auto;
    height: 540px;
    margin-bottom: 100px;
    /* display: flex; */
    /* justify-content: center; */
}

.head-text-container .shadow {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-repeat: no-repeat;
    text-align: center;
    max-width: 100%;
    border-radius: 16px;
    margin: auto;
    height: 537px;
}

.head-text-container .head-text {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.head-text-container .head-description {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto 64px;
    width: 60%;
    /* border: 2px solid black; */
}

.head-text-container .buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 70%;
    /* height: 17%; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.head-text-container .buttons-container .button-1,
.head-text-container .buttons-container .button-2,
.head-text-container .buttons-container .button-3 {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 84px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    width: 200px;
    height: 52px;
    position: relative;
    cursor: pointer;

}

.head-text-container .buttons-container .button-2 img,
.head-text-container .buttons-container .button-3 img {
    position: absolute;
    top: 14px;
    left: 160px;
}

.head-text-container .buttons-container .find-button-4 {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    height: 52px;
    position: relative;
    border: none;
    cursor: pointer;
    padding-left: 30px;
}

.head-text-container .buttons-container .find-button-4 img {
    position: absolute;
    left: 45px;
}

/* Page - 02  */

.page-02 {
    max-width: 84%;
    margin: 50px auto 50px;
    display: flex;
    gap: 100px;
}

.tours-container h4 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tours-container p,
.tours-container ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 90%
}

.tours-container p {
    margin: 24px 0;
}

.tours-container ul {
    margin: 24px;
}

.tours-container ul li {
    margin-bottom: 16px;
}

.tours-container .btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    padding: 14px 35px;
    margin-top: 8px;
    cursor: pointer;
}

/* Page - 03 */

.page-03 {
    max-width: 84%;
    margin: 100px auto 50px;
    text-align: center;
}

.title-description h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.title-description p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 50%;
    margin: 24px auto 48px;
}

.img-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    background-image: url('Images/Rectangle\ 5.png');
    background-position: center;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: 330px;
}

.img-02 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    background-image: url('Images/Rectangle\ 8.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 330px;
}

.img-container-01 {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.img-03 {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    background-image: url('Images/Rectangle\ 6.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 310px;
}
.img-04 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    background-image: url('Images/Rectangle\ 7.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 310px;
}
.img-05 {
    display: flex;
    width: 58%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    background-image: url('Images/Rectangle\ 9.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 310px;
}

.img-container-02 {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.img-06 {
    display: flex;
    width: 42%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    background-image: url('Images/Rectangle\ 11.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 330px;
}

.img-07 {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    background-image: url('Images/Rectangle\ 10.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 330px;
}

.img-container-03 {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}